<h1><%= t '.welcome' %></h1>
<h2><%= t '.subwelcome' %></h2>
<%= button_to t('.startButton'), game_path, :class => 'startbutton' %>

<!-- Export to CSV / Excel
http://railscasts.com/episodes/362-exporting-csv-and-excel
Import
http://railscasts.com/episodes/396-importing-csv-and-excel?view=asciicast
<p>
  Download:
  <= link_to "CSV", asset_path(format: "csv") %> |
  <= link_to "Excel", asset_path(format: "xls") %>
</p>
 -->